<div style="background-color:#212121; height: 9vh; padding: 2vh 2.5vw; color:white;">
  <span style="font-weight: 300; font-size: 15px;">< > by <span style="color: #FF7474;">siopao</span><br>Copyright 2016</span>
</div>