<body> 
  <div>
    <%= render 'pages/sidebar' %>
    <div class="right-section">

      <div style="margin-top: 3vh;">
        <div style="text-align:center; font-family: 'Roboto Slab', serif;">
          <div style="font-weight: 700; font-size: 70px; color: #7F7F7F; letter-spacing: 3px; ">
            FOR THE <span style="color: #FE7F83;">FOODIE</span>
            <br><br>
            <span style="font-weight: 300; font-size: 30px; color: #7F7F7F; letter-spacing: 1px;">
              really for the <em>feeling</em> foodie
            </span>
          </div>
          <hr width="850px;" style="height: 5px; border: 0; border-top: 5px solid #7F7F7F;margin-top: 60px;">
          <div style="margin-top: 50px;">
            <div class="row">
              <div class="col-md-4">
                <%= image_tag "eylla.jpg", style:"width:275px; border: 0px solid #7F7F7F;" %>
                <div>
                  <h1 style="font-weight: 700; font-size: 50px; color: #FE7F83;">EYLLA</h1>
                  <p style="font-family: 'Roboto Slab', serif; font-weight: 300; font-size: 20px; color: #7F7F7F;">
                    Bacon ipsum dolor andouille.<br>
                    Sausage turkey boudin pig.<br>
                    Landjaeger cupim ground round porchetta.
                  </p>
                </div>
              </div>
              <div class="col-md-4">
                <%= image_tag "jacq.jpg", style:"width:275px; border: 0px solid #7F7F7F;" %>
                <h1 style="font-weight: 700; font-size: 50px; color: #FE7F83;">JACQ</h1>
                  <p style="font-family: 'Roboto Slab', serif; font-weight: 300; font-size: 20px; color: #7F7F7F;">
                    Bacon ipsum dolor andouille.<br>
                    Sausage turkey boudin pig.<br>
                    Landjaeger cupim ground round porchetta.
                  </p>
              </div>
              <div class="col-md-4">
                <%= image_tag "eylla.jpg", style:"width:275px; border: 0px solid #7F7F7F;" %>
                <div>
                  <h1 style="font-weight: 700; font-size: 50px; color: #FE7F83;">ANNA</h1>
                  <p style="font-family: 'Roboto Slab', serif; font-weight: 300; font-size: 20px; color: #7F7F7F;">
                    Bacon ipsum dolor andouille.<br>
                    Sausage turkey boudin pig.<br>
                    Landjaeger cupim ground round porchetta.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>



