<!-- <div style="padding-top: 3vh; padding-bottom: 5vh;">
  <div style="margin: 5vh 20vw;">
    <span style="font-weight:300; color: #757575; font-size: 16px;">
      <span style="color: #FF7474; font-weight: 700; font-size: 20px;">FOR THE FOODIE</span> is spicy jalapeno bacon ipsum dolor amet picanha pork loin andouille sausage salami short loin boudin t-bone ham porchetta meatball tongue. Kielbasa doner leberkas tri-tip, jowl cow meatball shoulder short ribs ball tip pig boudin corned beef bresaola meatloaf. Cupim kevin sausage short loin, ham hock bacon ball tip shankle shank leberkas strip steak beef pork pork chop ribeye. Pork belly pancetta t-bone rump, turducken kevin capicola brisket bresaola leberkas. Biltong tail kielbasa spare ribs, shoulder cupim beef ribs. Sausage turducken turkey bresaola fatback drumstick picanha meatloaf frankfurter cow.
      <div class="row" style="margin-top: 5vh;">
        <div class="col-md-6">
          <%= image_tag "jacq.jpg", style:"width:250px; border: 0px solid #212121;" %>
          <span style="color: #FF7474; font-size: 18px; display:inline-block;">
            Jacq<br>
            <span style="color: #757575">Ham hock bacon ball tip shankle<br>Ham hock bacon ball tip shankle.</span>
          </span>
        </div>
        <div class="col-md-6">
          <span class="pull-right">
            <span style="color: #FF7474; font-size: 18px; display:inline-block;">
              Eylla<br>
              <span style="color: #757575">Ham hock bacon ball tip shankle<br>Ham hock bacon ball tip shankle.</span>
            </span>
            <%= image_tag "eylla.jpg", style:"width:250px; border: 0px solid #212121;" %>
          </span>
        </div>
      </div>
    </span>
  </div>
</div>
 -->