<div style="padding-top: 10vh; padding-bottom: 5vh;">
  <div style="padding-left: 4vw; padding-right: 0vw;">
    <% if params[:dish].present? || params[:cuisine].present? || params[:course].present? || params[:meal].present? || params[:price].present? || params[:restaurant].present? %>
      <h1 style="font-weight: 300; font-family: 'Roboto Slab', serif; font-size: 18px; color: #757575">
        <% if @pages.count == 0 %>
        No results
        <% else %>
          Results
        <% end %>
        for <%= @category.capitalize %>: <span style="color: #FE7F83;"><%= @query %></span>
      </h1>
      <div class="row" id="pages">
         <%= render 'results' %>  
      </div><!-- 
      <div id="pages-paginate">
          <%= will_paginate %>
      </div>
      <% if @pages.next_page %>
          <center><div id="more-pages" class="btn btn-more">MORE RESULTS</div></center>
      <% end %> -->
    <% else %>
      <h1 style="font-weight: 300; font-family: 'Roboto Slab', serif; font-size: 18px; color: #757575">
        No search query
      </h1>
    <% end %>
  </div>
</div>
