<!-- rows -->
<div style="padding-top: 10vh; padding-bottom: 5vh;">
  <!--  rows -->
  <div class="row" style="padding-left: 4vw; padding-right: 0vw;">
    <%= render @dishes.order('created_at DESC') %>
  </div>
  <!-- end of rows -->
  <!-- more dishes -->
  <div>
  </div>
  <!-- end -->
</div>
<!-- end of rows-->